body{
    margin: 0;
    padding: 0;
}
.bg-black-custom {
    background-color: black !important;
}
.Rectangle1{
    width: 100%;
    height: 100px;;
    position: relative;
    background: black;
    margin-top: 0px;
    display: flex;
    padding: 0%;
    background-size: cover;
    background-position: center;
}
ul{
    width: 100%;
    margin: 0 0 0 0 px;
    list-style: none;
    text-decoration:none;
    color:white;
    text-align:left;

}
 .navbar-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    background-color: black;
    width: auto;
}

.Ranjit{
    margin-left: -1070px;
    margin-top: 0px;
    font-size: 38px;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    color: #FFF;
    position: absolute;
}
.TN{
    margin-left: -967px;
    margin-top: 0px;
    font-size: 38px;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    color: red;
    position: absolute;
}
.enter{
    margin-top: 0px;
    height:780px;
}
.picture{
width: 100%;
    max-width: 500px; 
    margin: 0 auto;
    margin-top: 100px;
}
.p{
   width: 100%; 
    height: auto; 
    max-width: 100%; 
    border-radius: 50%; 
    display: flex;
    aspect-ratio: 1 / 1;
}
mark.red{
    color: red;
    background: none;
}
.hi{
    font-size:42px;
    color: #FFF;
    margin-left: 0px;
    margin-top:200px;
    max-width: 500px;
    width: 100%;
    font-weight: 700;
    position: relative;
}
.Frame1{
    margin-top: 0px;
    height: 500px;
    position: relative;
}
.about{
    margin-top: 50px;
    font-size: 32px;
    color: red;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    position: relative;
}
.text-about{
    margin-top: 50px;
    font-size: 28px;
    color:black;
    font-weight: 500;
    width: 100%;
    max-width: 700px;
    position: relative;
}
.about-img{
    position: relative;
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    width: 80%;
    max-width: 500px;
    border-radius: 10%;
}
.edu{
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
    max-width: 500px;
    border-radius: 0%;
}
.education{
    margin-top: 50px;
    font-size: 32px;
    color: red;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    position: relative;
}
.y2022{
    margin-top: 50px;
    margin-left: 0px;
    font-size: 28px;
    color:black;
    font-weight: 700;
    width: 100%;
    max-width: 700px;
    position: relative;
}
.text-education1{
    margin-top: -35px;
    margin-left: 15px;
    font-size: 28px;
    color:black;
    font-weight: 500;
    width: 100%;
    max-width: 700px;
    position: relative;
}
.y2020{
    margin-top: 50px;
    margin-left: 0px;
    font-size: 28px;
    color:black;
    font-weight: 700;
    width: 100%;
    max-width: 700px;
    position: relative;
}
.text-education2{
    margin-top: -30px;
    margin-left: 15px;
    font-size: 28px;
    color:black;
    font-weight: 500;
    width: 100%;
    max-width: 700px;
    position: relative;
}

.Frame2{
    margin-top: 600px;
    position: absolute;
    width: 100%;
    height: 1700px;
}
.skills{
    margin-top: 50px;
    font-size: 32px;
    margin-left: 600px;
    color: red;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    position:absolute;
}
.scroll{
    margin-top:170px;
    width: 640px;
    height: 500px;
    margin-left: 350px;
    position: absolute;
}
.pro{
    margin-top: 775px;
    font-size: 32px;
    margin-left: 650px;
    color: red;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    position:absolute;
}
.slack{
    margin-top: 875px;
    font-size: 28px;
    margin-left: 20px;
    color:rgb(77, 77, 189);
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    position:absolute;
}
.pro-text1{
    margin-top: 940px;
    font-size: 24px;
    margin-left: 20px;
    color:#FFF;
    font-weight: 400;
    width: 100%;
    max-width: 600px;
    position:absolute;
    line-height: 2;
}
.pro-text2{
    margin-top: 990px;
    font-size: 24px;
    margin-left: 20px;
    color:#FFF;
    font-weight: 400;
    width: 100%;
    max-width: 600px;
    position:absolute;
    line-height: 2;
}
.logo{
    width: 60%;
    margin-top: 850px;
    margin-left: 150px;
}
.Dark{
    margin-top: 100px;
    font-size: 28px;
    margin-left: 20px;
    color:rgb(77, 77, 189);
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    position:absolute;
}
.dark-text{
    margin-top: 160px;
    font-size: 24px;
    margin-left: 20px;
    color:#FFF;
    font-weight: 400;
    width: 100%;
    max-width: 600px;
    position:absolute;
    line-height: 2;
}
.dlogo{
    width: 60%;
    margin-top:40px;
    margin-left: 100px;
}
.footer{
    width: 100%;
    height: 800px;
    position: relative;
    margin-top: 2350px;
}
.c{
        margin-top: 0px;
        font-size: 32px;
        margin-left: 675px;
        color: red;
        font-weight: 700;
        width: 100%;
        max-width: 500px;
        position:absolute;
}
.work{
    font-size: 50px;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 50px;
    letter-spacing: 2;
}
.pass{
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 50px;
    width:700px;
}
.chat{
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 50px;
    letter-spacing: 2;
}
.touch{
    font-size: 25px;
    font-weight: 100;
    margin-top: 20px;
    margin-left: 50px;
    width:700px;
}
.c1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid black; 
    margin-top: -50px;
    position: absolute;
    margin-left: 220px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.c2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid black; 
    margin-top: -50px;
    position: absolute;
    margin-left: 260px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.end{
    margin-top: 150px;
    margin-left: 50px;
}
.email{
    margin-left: 0px;
    margin-top: 30px;
}
.Comments{
    margin-left: 50px;
    margin-top: 30px;
}
.submit{
    margin-left: 550px;
    margin-top: 20px;
}
@media (max-width: 767px) {
    .Ranjit{
        margin-top: 0px;
        margin-left: -320px;
    }
    .enter{
        height: 950px;
    }
    .TN{
        margin-top: 5px;
        margin-left: -220px;
    }
    .Frame2 {
        margin-top: 1600px; 
        width: 100%;
        max-width: 100%;
        height: 2100px;
        position: relative;
    }
    .skills {
        margin-left: 75px;
        margin-right: auto;
        max-width: 400px;
        width: 80%; 
        position: absolute;
        left: 0;
        right: 0; 
    }
    .scroll {
        margin-top: 150px;
        max-width: 400px;
        width: 85%; 
        height: 500px;
        margin-left: auto;
        margin-right: auto; 
    }
.pro{
    margin-top: 490px;
    font-size: 32px;
    margin-left: 25px;
    color: red;
    font-weight: 700;
    width: 100%;
    max-width: 400px;
    position:absolute;
}
.slack{
    margin-top: 550px;
    font-size: 28px;
    margin-left: 20px;
    color:rgb(77, 77, 189);
    font-weight: 700;
    width: 100%;
    max-width: 400px;
    position:absolute;
}
.pro-text1{
    display: none;
}
.pro-text2{
    margin-top: 590px;
    font-size: 24px;
    margin-left: 20px;
    color:#FFF;
    font-weight: 400;
    max-width: 70%;
    position:absolute;
    width: 100%;
}
.logo{
    width: 50%;
    margin-top: 1100px;
    margin-left: 50px;
}
.dlogo{
    width: 50%;
    margin-top: 550px;
    margin-left: 70px;
    position: absolute;
}
.dark-text{
    margin-top: 160px;
    font-size: 24px;
    margin-left: 20px;
    color:#FFF;
    font-weight: 400;
    width: 80%;
    max-width: 400px;
    position:absolute;
    line-height: 2;
}
.c{
    margin-top: 50px;
    font-size: 32px;
    margin-left: 10px;
    color: red;
    font-weight: 700;
    width: 100%;
    max-width: 400px;
    position:absolute;
}
.footer{
    width: 100%;
    height: 1500px;
    position: relative;
    margin-top: 50px;overflow: hidden;
}
.pass{
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 50px;
    width:80%;
    max-width: 400px;
}
.submit{
    margin-left: 150px;
    margin-top: 20px;
}
.Dark{
    width: 90%;
}
.work{
    font-size: 50px;
    width: 80%;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 20px;
    letter-spacing: 2;
}
.pass{
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 20px;
    width:80%;
    width: 60%;
}
.chat{
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 20px;
    letter-spacing: 2;
    width: 80%;
}
.touch{
    font-size: 25px;
    font-weight: 100;
    margin-top: 20px;
    margin-left: 20px;
    width:700px;
}
.c1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid black; 
    margin-top: -50px;
    position: absolute;
    margin-left: 185px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.c2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid black; 
    margin-top: -50px;
    position: absolute;
    margin-left: 225px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.end{
    margin-top: 150px;
    margin-left: 20px;
    width: 80%;
}
.email{
    margin-left: 0px;
    margin-top: 30px;
    width: 80%;
}
.Comments{
    margin-left: 20px;
    margin-top: 30px;
    width: 80%;
}
}
@media (max-width:1024px) {
    .Ranjit{
        margin-top: 0px;
        margin-left: -650px;
    }
    .enter{
        height: 750px;
    }
    .TN{
        margin-top: 5px;
        margin-left: -550px;
    }
    .Frame1
    {
        height: 0px;
    }
    .Frame2 {
        margin-top: 1400px; 
        width: 100%;
        max-width: 100%;
        height: 1500px;
        position: relative;
    }
    .skills {
        margin-left: 450px;
        margin-right: auto;
        max-width: 400px;
        width: 80%; 
        position: absolute;
        left: 0;
        right: 0; 
    }
    .scroll {
        margin-top: 150px;
        max-width: 400px;
        width: 95%; 
        height: 600px;
        margin-left: 250px;
        margin-right: auto; 
    }
.pro{
    margin-top: 490px;
    font-size: 32px;
    margin-left: 25px;
    color: red;
    font-weight: 700;
    width: 100%;
    max-width: 400px;
    position:absolute;
}
.slack{
    margin-top: 550px;
    font-size: 28px;
    margin-left: 20px;
    color:rgb(77, 77, 189);
    font-weight: 700;
    width: 100%;
    max-width: 400px;
    position:absolute;
}
.pro-text1{
    display: none;
}
.pro-text2{
    margin-top: 590px;
    font-size: 24px;
    margin-left: 20px;
    color:#FFF;
    font-weight: 400;
    max-width: 70%;
    position:absolute;
    width: 100%;
}
.logo{
    width: 50%;
    margin-top: 600px;
    margin-left: 150px;
}
.dlogo{
    width: 30%;
    margin-top: 150px;
    margin-left: 70px;
    position: absolute;
}
.dark-text{
    margin-top: 160px;
    font-size: 24px;
    margin-left: 20px;
    color:#FFF;
    font-weight: 400;
    width: 80%;
    max-width: 500px;
    position:absolute;
    line-height: 2;
}
.c{
    margin-top: 50px;
    font-size: 32px;
    margin-left: 450px;
    color: red;
    font-weight: 700;
    width: 100%;
    max-width: 400px;
    position:absolute;
}
.footer{
    width: 100%;
    height: 1500px;
    position: relative;
    margin-top: 50px;overflow: hidden;
}
.pass{
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 50px;
    width:80%;
    max-width: 400px;
}
.submit{
    margin-left: 150px;
    margin-top: 20px;
}
.Dark{
    width: 90%;
}
.work{
    font-size: 50px;
    width: 80%;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 20px;
    letter-spacing: 2;
}
.pass{
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 20px;
    width:80%;
    width: 60%;
}
.chat{
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 20px;
    letter-spacing: 2;
    width: 80%;
}
.touch{
    font-size: 25px;
    font-weight: 100;
    margin-top: 20px;
    margin-left: 20px;
    width:700px;
}
.c1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid black; 
    margin-top: -50px;
    position: absolute;
    margin-left: 185px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.c2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid black; 
    margin-top: -50px;
    position: absolute;
    margin-left: 225px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.end{
    margin-top: 150px;
    margin-left: 20px;
    width: 80%;
}
.email{
    margin-left: 0px;
    margin-top: 30px;
    width: 80%;
}
.Comments{
    margin-left: 20px;
    margin-top: 30px;
    width: 80%;
}
}