body{
    margin: 0;
    padding: 0;
}
.bg-black-custom {
    background-color: black !important;
}
.Rectangle1{
    width: 100%;
    height: 100px;
    position: relative;
    background: black;
    margin-top: 0px;
    display: flex;
    padding: 0%;
    background-size: cover;
    background-position: center;
}
ul{
    width: 100%;
    margin: 0 0 0 0 px;
    list-style: none;
    text-decoration:none;
    color:white;
    text-align:left;

}
 /* Custom CSS for positioning navbar */
 .navbar-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    background-color: black;
    width: auto;
}

.Ranjit{
    margin-left: -1070px;
    margin-top: 0px;
    font-size: 38px;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    color: #FFF;
    position: absolute;
}
.TN{
    margin-left: -967px;
    margin-top: 0px;
    font-size: 38px;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    color: red;
    position: absolute;
}
.enter{
    margin-top: 0px;
}
.picture{
width: 100%; /* Ensures container fills its parent */
    max-width: 500px; /* Limit maximum width for larger screens */
    margin: 0 auto;
    margin-top: 100px;
}
.p{
   width: 100%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent image overflow */
    border-radius: 50%; /* Makes the image circular */
    display: flex;
    aspect-ratio: 1 / 1;
}
mark.red{
    color: red;
    background: none;
}
.hi{
    font-size:42px;
    color: #FFF;
    margin-left: 0px;
    margin-top: 250px;
    max-width: 500px;
    width: 100%;
    font-weight: 700;
    position: relative;
}